@charset "UTF-8";
/* Tipografía google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/*Estilos HEADER*/
header {
  display: flex;
  justify-content: center;
  grid-area: header;
}

/* Menú de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  margin-top: 10px;
  grid-area: nav;
}

/* Lista desordenada del nav */
ul {
  background-color: #976914;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 10px;
  list-style-type: none;
}
ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
ul li a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-inline: 15px;
  text-decoration: none;
}

.nav_ul :hover {
  transform: scale(1.1);
  background-color: gray;
  transition: all 0.6s;
}

/* Class para el FOOTER */
.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  background-size: cover;
  margin-top: 25px;
  grid-area: footer;
  border: 1.5px solid;
}
.footer a {
  color: black;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
.footer h4 {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.footer p {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
}

/* Class para los button */
button {
  border-color: black;
  background-color: #976914;
  border-radius: 6px;
}

/* Estilos input */
input {
  background-color: #976914;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

fieldset {
  max-width: 100%;
}

/* Media query de UL */
@media screen and (max-width: 450px) {
  ul {
    flex-direction: column;
  }
  /* Media query de links del NAV */
  .nav li a {
    font-size: 8px;
  }
}
/* Media query "QUIENES SOMOS */
@media screen and (max-width: 768px) {
  /* Media query de caja de (QUIENES SOMOS) */
  .box1 {
    flex-direction: column;
  }
  /* Media query del 1er texto (QUIENES SOMOS) */
  .section article {
    font-size: 10px;
  }
  /* Media query del párrafo de (QUIENES SOMOS) */
  .box1 p {
    flex-direction: column;
    font-size: 8px;
    margin-bottom: 5px;
  }
  img {
    justify-content: center;
    align-items: center;
  }
}
/* Media query (MODELOS) */
@media screen and (max-width: 740px) {
  /* Media query del titulo del box 2 grid (MODELOS) */
  .box2_h2 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  /* Media query del párrafo del box2 grid (MODELOS) */
  .box2_p {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  /* Media query para imagenes del box2 grid (MODELOS) */
  .box2_img {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    align-content: space-around;
  }
}
/* Media query para caja de (CONSECIONARIOS) */
@media screen and (max-width: 710px) {
  .box3 {
    flex-direction: column;
    row-gap: 10px;
  }
  /* Media query para titulos de (CONSECIONARIOS) */
  .box3 h3 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 8px;
  }
  /* Media query para los titulos del section de (CONSECIONARIOS) */
  .section_h1 {
    font-size: 15px;
    text-align: center;
  }
  /* Media query para párrafos de (CONSECIONARIOS) */
  .box3 p {
    font-size: 7px;
    text-align: center;
  }
}
/* Media query para el (FORMULARIO) */
@media screen and (max-width: 460px) {
  .form {
    font-size: 12px;
  }
  /* Media query para el texto del (FORMULARIO) */
  .cartita {
    font-size: 12px;
  }
  /* Media query para texto del (FORMULARIO) */
  .section_contacto_h1 {
    font-size: 10px;
  }
  /* Media query para el texto del fieldset (FORMULARIO) */
  .form fieldset {
    font-size: 12px;
  }
}
/*ANIMACIONES // PSEUDOCLASES*/
/* Animacion de contacto */
.animacion-h1 {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_p {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section_h1 {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer a :hover {
  transform: scale(1.4);
  background-color: gray;
  transition: all 0.6s;
}

/* Hover para imágenes box2 grid */
.box2_img :hover {
  transform: scale(1.2);
  background-color: gray;
  transition: all 0.6s;
}

/* Hover para los button */
form button:hover {
  transform: scale(1.2);
}

/* Pseudoclass para input */
input:focus {
  width: 200px;
  outline: none;
}

::placeholder {
  color: black;
}

/* Class body inicio */
.body-inicio {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "section section section" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to bottom left, black, #976914);
}
.body-inicio img {
  background-image: url(/imagenes/toyota\ section.jpg);
}
.body-inicio .section {
  grid-area: section;
}

/* Class body quienes somos */
.body-quienes {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "section section section" "box1 box1 box1" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(to bottom left, black, #976914);
  /* Section de quienes somos */
  /* Caja de quienes somos */
  /* Párrafo de la caja de quienes somos (box1) */
}
.body-quienes .section {
  grid-area: section;
}
.body-quienes .box1 {
  width: 100%;
  height: 300px;
  margin-top: 0px;
  display: flex;
  grid-area: box1;
}
.body-quienes .section_article {
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  margin: 10px 10px 10px 10px;
  padding: 15px;
  grid-area: section_article;
}
.body-quienes img {
  justify-content: center;
  align-items: center;
}
.body-quienes .box1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Class body modelos */
.body-modelos {
  background-color: black;
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "section section section" "box-hilux box-hilux box-hilux" "footer footer footer";
  grid-template-rows: repeat(1, 1fr);
  background-image: linear-gradient(to bottom left, black, #976914);
  /* Caja diaply grid de modelos */
  /* Clas imagenes del box2 grid */
}
.body-modelos .box2_grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-area: box-hilux;
}
.body-modelos .box2_h2 {
  background-color: #976914;
  padding: 8px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px;
  border: 3px solid;
}
.body-modelos .box2_p {
  display: flex;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  border: 2px solid;
  border-color: black;
}
.body-modelos .box2_img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

/* Class body consecionarios */
.body-consecionarios {
  background-image: linear-gradient(to bottom left, black, #976914);
  /* Estilos para el section de consecionarios */
  /* Caja de consecionarios */
}
.body-consecionarios .section_consecionarios {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 40px;
}
.body-consecionarios .section_h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}
.body-consecionarios .section_p {
  color: #976914;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
.body-consecionarios .box3 {
  width: 100%;
  height: 380px;
  background-color: #111;
  padding: 35px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-content: space-around;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
}
.body-consecionarios .consecionarios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body-consecionarios .box3 h3 {
  text-decoration: underline;
  color: white;
}
.body-consecionarios .box3 p {
  color: #976914;
}

/* Class body contacto */
.body-contacto {
  background-image: linear-gradient(to bottom left, black, #976914);
  /* Formulario */
  /* Formulario */
  /* Imagen cartita */
}
.body-contacto .section_contacto_h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}
.body-contacto .cartita {
  display: flex;
  justify-content: center;
}
.body-contacto .form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  color: #976914;
  background-color: #111;
  margin-bottom: 25px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: underline;
}
.body-contacto .cartita img {
  margin-top: 15px;
  max-width: 100%;
}
.body-contacto .form fieldset {
  margin: 15px;
  padding: 15px;
}

/*# sourceMappingURL=estilos2.css.map */
