/* Class body modelos */

.body-modelos {
    @include grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "section section section"
        "box-hilux box-hilux box-hilux"
        "footer footer footer";
    background-image: linear-gradient(to bottom left,$color-body);

    .main {
        grid-area: main;
        align-items: center;
        justify-content: center;
    }

    /* Caja diaply grid de modelos */

    .box2_grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-area: box-hilux;
    }


    .box2_h2 {
        background-color: #976914;
        padding: 8px;
        color: black;
        font-family: $textos;
        font-weight: 900;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 25px;
        border: 3px solid;
    }

    .box2_p {
        @include flex-row;
        color: grey;
        font-family: $textos;
        font-weight: 400;
        margin-bottom: 40px;
        border: 2px solid;
        border-color: black;
        text-align: center;
    }

    /* Clas imagenes del box2 grid */

    .box2_img {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }

}